<launch>

  <!-- Start rrtstar node -->
  <node pkg="rrtstar"
    name="rrtstar_node"
    type="rrtstar_node"
    output="screen"/>

  <rosparam>
    max_run_time_seconds: 1.0
    square_area_side: 100.0
    obstacle_radius: 5.0
    obstacle_count: 30
  </rosparam>

  <!-- Show in Rviz   -->
  <node pkg="rviz"
        name="rviz"
        type="rviz"
        args="-d $(find rrtstar)/rviz/rrtstar.rviz"/>
</launch>
